@import "tailwindcss";

@theme {
  /* Adding a custom small mobile breakpoint */
  --breakpoint-xs: 400px;

  /* Adding an ultra-wide desktop breakpoint */
  --breakpoint-3xl: 1920px;

  /* You can also name them whatever you want */
  --breakpoint-tablet: 900px;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}